body{
    background: url(/pics/pexels-toni-cuenca-585750.jpg) center;
    /* width: 100vw;
    height: 100vh; */
    color:  white;
}
h1{
    text-align: center;
    color: black; 
}
h2{
    text-align: center;
    color: black;
}
div.brief {
    display: block;
    padding-left: 20px;
}
.brief ol {
    width: 500px;
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
}
a{
    text-decoration: none;
    font-size: 30px;
    padding: 5px;
    color: black;
    font-weight: bold;
    text-shadow: 1px 3px 3px green;
    line-height: 100px;
    margin: 20px;
}
a:hover{
    border-radius: 20px;
    box-shadow: 2px 2px 3px gold;
}
footer {
    line-height: 500px;
    float: right;
}
input {
    background: red;
}